<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/stylesheets.css">
    <title>Login</title>
</head>
<body>
<div class="container">
    <div class="login">
        <form th:action="@{/login}" method="post">
            <label class="text"><b>Usuário</b></label>
            <input type="text" class="input" placeholder="Digite seu nome de usuário" name="username" required>
            <label class="text"><b>Senha</b></label>
            <input type="password" class="input" placeholder="Digite sua senha" name="password" required>
            <button  class="btnLogin" type="submit">Login</button>
        </form>
        <form class="cadastro" th:action="@{/cadastrarUsuarios}" method="post">
            <label class="labelCadastrar text" ><b>Cadastrar Usuario</b></label>
            <button class="btCadastrar" type="submit">Cadastrar</button>
        </form>
    </div>

</div>
</body>
</html>