<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" type="text/css" href="static/stylesheets.css">
</head>
<body>
<div class="container">
    <div class="paciente">
        <h1>Adicionar Novo Médico</h1>
        <form method="post" th:action="@{/pacientes/save}" class="form-container">
            <label>
                <input type="text" placeholder="Nome" name="nome" required/>
            </label>
            <label>
                <input type="text" placeholder="Telefone" name="telefone" required/>
            </label>
            <label>
                <input type="text" placeholder="Data de Nascimento" name="data_nascimento" required/>
            </label>
            <label>
                <input type="text" placeholder="Plano" name="plano" required/>
            </label>
            <button class="btnLogin" type="submit">Salvar</button>
        </form>
        <h1>Listar Pacientes</h1>
        <table class="table-container">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Data de Nascimento</th>
                <th>Plano</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="paciente : ${pacientes}">
                <td th:text="${paciente.id}"></td>
                <td th:text="${paciente.nome}"></td>
                <td th:text="${paciente.telefone}"></td>
                <td th:text="${paciente.data_nascimento}"></td>
                <td th:text="${paciente.plano}"></td>

            </tr>
            </tbody>
        </table>
        <form th:action="@{/pacientes/retornar}" method="post" class="retornar">
            <button class="btVoltar" type="submit">Voltar</button>
        </form>
    </div>

    </div>

</body>
</html>